<section class="log-in">

 <%= link_to image_tag("BarweiserSpot.png"), root_path  %>
  <h3>Log in</h3>
       <div class="devise-form">
         
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
              <div class="form-group">
                <%= f.text_field :log_in, class: 'form-control', placeholder: "USERNAME / EMAIL" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: "PASSWORD" %>
              </div>
    
              <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.label :remember_me %>&nbsp
                    <%= f.check_box :remember_me %>
                    
                  </div>
              <% end %>
    
            <div class="actions">
              <%= f.submit "LOG IN", class: 'btn log-in-btn'%>
            </div>
        <% end %>
      </div>
      <div class="divider">
          OR
      </div>
    
      
    <%= render "users/shared/links" %>
    
   <%= image_tag("SpotlightShadow.png") %>
</section>


